body {
  background-image: url(IMG-20240702-WA0002.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

#framein {
  height: 120vh;
  width: 70vw;
  background-color: #1F8AC0;
  border: ridge;
  border-width: 20px;
  border-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

#pad {
  height: 90%;
  width: 100%;
  background-color: #104C91;
  left: 5%;
  bottom: 0%;
  border-top: groove;
  border-width: 6px;
  border-color: black;
}

h1 {
  top: 10px;
  font-family: "Dancing Script", "Ga Maamli", cursive;
  font-size: 70px;
  text-align: center;
  background: red;
  background: -webkit-linear-gradient(left, cyan, blue, violet);
  
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {

  font-family: "Teko", "Ga Maamli", serif;
  font-size: 35px;
  text-align: center;
  padding: 10px;
}